{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}Manage Surveys{% endtrans %}
{% endblock %}

{% block body %}
    {% set gameName = game.name %}
    <h2>{% trans %}Edit the surveys of {{ gameName }}{% endtrans %}</h2>
    <p class= "text-right">
        <a href="{{ path('surveys' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
            {% trans %}Add a Survey{% endtrans %}
        </a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>{% trans "Title" %}</td>
                <td>{% trans "Actions" %}</td>
            </tr>
        </thead>
        <tbody>
            {% set token_input = csrf_input() %}	
            {% for survey in surveys %}
                <tr>
                    <td>
                        {{ survey.question }}
                        <a href="{{ path('surveys.list', {slug: game.slug, id:game.id}) }}" class="ml-2"><i class="fas fa-eye"></i></a>
                    </td>

                    {% if (game.userId == current_user().id) or (current_user().role== "admin") %}
                        <td>
                            <button  class="btn btn-danger" data-toggle="modal" data-target="#confirmation[{{ survey.id }}]">{% trans %}Delete{% endtrans %}</button >
                            <div class="modal fade" id="confirmation[{{ survey.id }}]" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            {% set question = survey.question %}
                                            <h4 class="modal-title">{% trans %}Delete {{ question }}?{% endtrans %}</h4>
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form style="display: inline;" action="{{  path('surveys' ~ '.delete', {projectId:game.id, id:survey.id}) }}" method="POST" >
                                                <input type="hidden" name="_method" value="DELETE">
                                                <button class="btn btn-danger">{% trans "Confirm" %}</button>
                                                {{ token_input | raw  }}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    {% endif %}

                </tr>
            {% endfor %}
        </tbody>
    </table>


{% endblock %}
