<div class="row">
    <div class="col-md-5">
        {% set title %}
            {% trans %}
                Title of bug
            {% endtrans %}
        {% endset %}
        {% set comment %}
            {% trans %}
                choose a specific and short text
            {% endtrans %}
        {% endset %}
        {{  field("title", item.title, title ~ '<span class="text-danger">*</span>', {maxlength:'50'}, comment ) }}
    </div>

    {% if (item.userProject == current_user().id or current_user().role== "admin") %}
        <div class="form-group col-md-5 offset-md-1">
            <label for="status_id">{% trans "Status" %}<span class="text-danger">*</span></label>
            <select class="form-control" name="status_id" id="status_id">
                {% for id, name in status  %}
                    <option value="{{ id }}" {% if id == item.statusId %}selected{% endif %}>{{ name }}</option>
                {% endfor %}           
            </select>
        </div>
    {% else %}
        {{ field("status_id", item.statusId|default('1'), null, {type:'hidden'}) }}
    {% endif %}
</div>

<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="category_id">{% trans "Category" %}</label>
            <select class="form-control" name="category_id" id="category_id">
                {% for id, name in category %}
                    <option value="{{ id }}" {% if id == item.categoryId %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="frequency_id">{% trans "Frequency" %}</label>
            <select class="form-control" name="frequency_id" id="frequency_id">
                {% for id, name in frequency %}
                    <option value="{{ id }}" {% if id == item.frequencyId %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="severity_id">{% trans "Severity" %}</label>
            <select class="form-control" name="severity_id" id="severity_id">
                {% for id, name in severity %}
                    <option value="{{ id }}" {% if id == item.severityId %}selected{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="form-group">
            {% set description %}
                {% trans %}
                    Description
                {% endtrans %}
            {% endset %}
            {{ field("description", item.description|raw, description ~ '<span class="text-danger">*</span>', {type:'textarea'}) }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <label for="attachments">{% trans "Attachments" %}</label>
            <input class="form-control" type="file" name="attachments[]" id="attachments" multiple="multiple">
            <small class="form-text text-muted">{% trans %}1Mo max{% endtrans %}</small>
        </div>
    </div>
</div>

