{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">
        {% trans %}
            Putting the player back at the heart of the creative process
        {% endtrans %}
    </h1>

    <div class="container">
        <p>{% trans %}Redbricks is a community-based platform for the creation of video games.{% endtrans %}</p>

        <p>{% trans %}On this platform, game creators can present their projects and make them evolve with the help 
            of their players community: everybody can propose new functionalities, comment and finance their favorite games.{% endtrans %}</p>

        <p>{% trans %}Come and meet RedBricks in this 90” video:{% endtrans %}</p>
        <div class="text-center my-5">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/7TXW5JX8Nx4?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>                    </iframe>
        </div>
    </div>

{% endblock %}