{% extends 'layout.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="text-center">CONDITION GÉNÉRALES DE VENTE ET D’UTILISATION</h1>

            <h3 class="mt-4">1. Objet et dispositions générales</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les présentes conditions générales ont pour objet de définir les modalités et conditions d’utilisation des 
                    services proposés (ci-après : les « Services ») sur la plateforme RedBricks (la « Plateforme ») de l'association Ethical Games 
                    (« la Société »), ainsi que de définir les droits et obligations des parties dans ce cadre.
                </div>
                <div class="my-2">
                    La liste et le descriptif des services proposés par l’intermédiaire de la Société peuvent être consultés 
                    sur le site <a href="https://redbricks.games">https://redbricks.games</a> (ci-après : le « Site »).
                </div>
                <div class="my-2">
                    Les conditions générales sont consultables sur le site internet de la Société à l'adresse suivante :
                    <a href="{{ path('about.terms') }}">https://redbricks.games/about/terms</a>. 
                </div>
            </div>

            <h3 class="mt-4">2. Exploitant des Services</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les Services sont exploités par l'association loi 1901 Ethical Games, dont le siège social est situé au 14E rue
                    des Longs Près, 35700 Rennes (ci-après « Ethical Games »).
                </div>
                <div class="my-2">
                    Ethical Games est représentée par Mme ALINE BARDOU, en qualité de présidente, dûment habilitée aux fins des présentes.
                </div>
                <div class="my-2">
                    Ethical Games peut être contactée aux coordonnées suivantes :
                </div>
                <ul>
                    <li>Adresse postale: 14E rue des Longs Près, 35700 Rennes, France</li>
                    <li>Adresse email : ethicalgames.asso@gmail.com</li>
                </ul>
            </div>

            <h3 class="mt-4">3.Accès au site et aux Services</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les Services sont accessibles, sous réserve des restrictions prévues sur le site : 
                </div>
                <ul>
                    <li>à toute personne physique disposant de la pleine capacité juridique pour s’engager au titre des présentes 
                        conditions générales. La personne physique qui ne dispose pas de la pleine capacité juridique ne peut accéder au 
                        Site et aux Services qu’avec l’accord de son représentant légal.</li>
                    <li>à toute personne morale agissant par l’intermédiaire d’une personne physique disposant de la capacité juridique 
                        pour contracter au nom et pour le compte de la personne morale.</li>
                </ul>
            </div>

            <h3 class="mt-4">4. Acceptation des Conditions Générales</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Avec son inscription sur la Plateforme, l’Utilisateur déclare avoir pris connaissance de l’ensemble des présentes 
                    Conditions Générales d’Utilisation, et le cas échéant des Conditions Particulières liées à un service, et les accepter 
                    sans restriction ni réserve. L’Utilisateur reconnaît qu’il a bénéficié des conseils et informations nécessaires afin de 
                    s’assurer de l’adéquation des Services à ses besoins.
                </div>
                <div class="my-2">
                    L’acceptation des présentes conditions générales ne peut être que pleine et entière. Toute adhésion sous réserve 
                    est considérée comme nulle et non avenue. L’Utilisateur qui n’accepte pas d’être lié par les présentes conditions 
                    générales ne doit pas utiliser les Services.
                </div>
            </div>

            <h3 class="mt-4">5. Inscription sur le site</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    L’utilisation des Services nécessite que l’Utilisateur s’inscrive sur le site, en remplissant le formulaire prévu à cet effet. 
                    Une fois le formulaire rempli et validé, le Site adresse un e-mail permettant de confirmer la demande de l’Utilisateur. 
                    Lors de l’inscription, l’Utilisateur s’engage à fournir des données exactes, à jour, et sincères, et est tenu de remplir
                    l’ensemble des champs obligatoires figurant dans le formulaire d’inscription.
                </div>
                <div class="my-2">
                    Toute inscription incomplète ne sera pas validée.
                </div>
                <div class="my-2">
                    L’inscription entraîne automatiquement l’ouverture d’un compte au nom de l’Utilisateur (ci-après : le « Compte »), 
                    lui donnant accès à un espace personnel (l’« Espace Personnel ») qui lui permet de gérer son utilisation des Services 
                    décrits sur le Site.
                </div>
                <div class="my-2">
                    L’Utilisateur garantit que toutes les informations qu’il donne dans le formulaire d’inscription sont exactes, 
                    à jour et sincères et ne sont entachées d’aucun caractère trompeur.
                </div>
                <div class="my-2">
                    Il s’engage à mettre à jour ces informations dans son Espace Personnel en cas de modifications, afin qu’elles
                    correspondent toujours aux critères susvisés.
                </div>
                <div class="my-2">
                    L’Utilisateur est informé et accepte que les informations saisies aux fins de création ou de mise à jour de son 
                    Compte vaillent preuve de son identité. Les informations saisies par l’Utilisateur l’engagent dès leur validation.
                </div>
            </div>

            <h3 class="mt-4">6. Identifiant et mot de passe</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Dès création de son compte, l’Utilisateur choisira ou se verra attribuer un identifiant et un mot de passe 
                    (ci-après « Identifiants ») lui permettant d’accéder à son espace personnel. Ces Identifiants sont personnels et 
                    confidentiels. Ils ne peuvent être changés que sur demande de l’Utilisateur ou à l’initiative de la Société.
                </div>
                <div class="my-2">
                    L’Utilisateur est seul et entièrement responsable de l’utilisation des Identifiants le concernant et 
                    s’engage à mettre tout en œuvre pour conserver secrets ses Identifiants et à ne pas les divulguer, à qui que ce soit, 
                    sous quelque forme que ce soit et pour quelque raison que ce soit.
                </div>
                <div class="my-2">
                    L’Utilisateur sera responsable de l’utilisation de ses Identifiants par des tiers ou des actions ou déclarations 
                    faites par l’intermédiaire de son compte personnel d’Utilisateur, qu’elles soient frauduleuses ou non et garantit la 
                    Société contre toute demande à ce titre.
                </div>
                <div class="my-2">
                    Par ailleurs, la Société n’ayant pas pour obligation et ne disposant pas des moyens techniques de s’assurer de
                    l’identité des personnes s’inscrivant sur le site, elle n’est pas responsable en cas d’usurpation de l’identité de 
                    l’Utilisateur. Si l’Utilisateur a des raisons de penser qu’une personne utilise frauduleusement des éléments 
                    d’identification ou son compte, il devra en informer immédiatement la Société aux coordonnées mentionnées à l’article 
                    2 des présentes.
                </div>
                <div class="my-2">
                    Une utilisation du site qui serait frauduleuse, ou qui contreviendrait aux présentes Conditions Générales, 
                    justifiera que soit refusé à l’Utilisateur, à tout moment, l’accès aux Services ou autres fonctionnalités du Site.
                </div>
            </div>

            <h3 class="mt-4">7. Nature des Services proposés aux Créateurs de Projets</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    La Plateforme permet aux Utilisateurs (ci-après « les Créateurs ») qui le souhaitent de présenter leur(s) 
                    Projet(s) afin de diffuser, promouvoir et faire financer un Projet sur le Site.
                </div>
                <div class="my-2">
                    Les conditions applicables aux Créateurs ne concernent que les seuls projets animés par le Créateur qui crée 
                    et anime sur la Plateforme une communauté d’Utilisateurs soutenant son Projet (ci-après « les Joueurs »). 
                    A ce titre, la Société intervient uniquement en tant qu’intermédiaire technique en mettant à disposition des 
                    Créateurs une plateforme en ligne leur permettant de financer, diffuser et promouvoir leur(s) Projet(s) sur une 
                    page internet ou un ensemble de pages dédiée(s) audit Projet.
                </div>
            </div>

            <h3 class="mt-4">8.  Présentation des Projets et fonctionnalités</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les Créateurs qui souhaitent déposer leurs Projets et bénéficier des Services de la Plateforme soumettent 
                    à la Société, via un formulaire sur le Site, une présentation détaillant la nature, les objectifs, et les 
                    caractéristiques principales de(s) Projet(s) qu’ils entendent développer en collaboration avec les Joueurs.
                </div>
                <div class="my-2">
                    Les caractéristiques et paramètres du Projet sont soumis à l’acceptation préalable de la Société sans 
                    obligation de motiver son refus : la sélection des contenus vise uniquement à vérifier la conformité du Projet à 
                    la loi, aux règlements en vigueur et aux bonnes mœurs. La Société ne jugera pas les projets sur des critères tels 
                    que la faisabilité, la rentabilité, la cohérence, mais uniquement sur sa bienveillance générale.
                </div>
                <div class="my-2">
                    Une fois mis en ligne sur le Site, les Projets  pourront être modifiés pour apporter des correctifs, des mises 
                    à jour, et toute modification susceptible d’améliorer la réalisation des objectifs poursuivis.
                </div>
                <div class="my-2">
                    Toute modification malveillante ou qui contreviendrait à la loi et aux règlements en vigueur s’expose au 
                    risque d’être supprimée du Site.
                </div>
                <div class="my-2">
                    Il appartient au Créateur de s'assurer qu'il a tous les droits nécessaires pour publier le Projet sur le 
                    Site et qu'il est en conformité avec toutes les lois et tous les règlements applicables à la conception et la 
                    réalisation du Projet concerné. Le Créateur est entièrement responsable de la présentation du Projet publiée sur 
                    le Site et doit s'assurer notamment que cette présentation ne saurait induire les Utilisateurs en erreur.
                </div>
                <div class="my-2">
                    Le Créateur reconnaît que la fourniture d'informations trompeuses, incomplètes ou erronées est susceptible d'engager 
                    sa responsabilité à l'encontre de la Société et des Joueurs et assume l'entière responsabilité des conséquences résultant 
                    de toute omission ou négligence à cet égard.
                </div>
                <div class="my-2">
                    Pour chaque Projet déposé sur le Site et validé, le Créateur à la possibilité de créer et de présenter des fonctionnalités 
                    associées au développement dudit Projet, nommées « briques » (ci-après les « Briques »). Chaque Brique est créée via un 
                    formulaire sur le Site, permettant de la présenter, la détailler, de fixer un coût en euros ainsi que son échéance pour 
                    son financement (90 jours au maximum).
                </div>
                <div class="my-2">
                    Le créateur s’engage à ce que le contenu de sa Brique soit conforme à la loi, aux règlements en vigueur 
                    et aux bonnes mœurs. La Société se réserve le droit de supprimer la Brique si son contenu contrevient à ces critères.
                </div>
                <div class="my-2">
                    Pour chaque Projet présent sur le Site, le Créateur comme les Joueurs ont la possibilité de proposer 
                    une Brique, représentant une évolution ou une nouvelle fonctionnalité pour ce Projet. Cette Brique sera alors 
                    soumise aux votes des utilisateurs (un vote par personne) afin de déterminer sa popularité auprès de la communauté. 
                    Ce vote est uniquement consultatif et son résultat n’engage pas le Créateur à réaliser la fonctionnalité ou l’évolution. 
                    Le créateur peut à tout moment choisir d’intégrer la brique dans son Projet, ou au contraire de la rejeter.
                </div>
            </div>

            <h3 class="mt-4">9.  Financements</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le processeur de paiement choisi par Ethical Games pour gérer les donations est Stripe Connect.
                </div>
                <div class="my-2">
                    Les Joueurs et Créateurs inscrits sur le Site s’engagent à accepter l’intégralité des conditions d’utilisation 
                    de Stripe Connect, qui peuvent être retrouvées ici 
                    <a href="https://stripe.com/connect/account-terms">https://stripe.com/connect/account-terms</a>
                </div>
                <div class="my-2">
                    Ethical Games rappelle que les soutiens financiers sur le Site sont indépendants de toute publication de contenu.
                </div>
                <div class="my-2">
                    En cas de décès, d’incapacité, d’accident du Créateur ou tout autre événement le plaçant dans l’incapacité de conduire 
                    son Projet, la Société est autorisée à suspendre la collecte en cours. Plus généralement, la Société peut discrétionnairement 
                    annuler une collecte en cours et supprimer un Projet dès lors qu’il est constaté que le Créateur contrevient aux présentes. 
                    Dans cette hypothèse, toutes les Contributions enregistrées seraient immédiatement annulées, les Joueurs concernés remboursés 
                    et le Porteur de Projets ne pourrait prétendre récupérer les sommes collectées.
                </div>
            </div>

            <h4 class="mt-4">9.1 Financement des Briques</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les Briques proposées par les créateurs peuvent être financées par les joueurs (ci-après : « Contributeurs ») 
                    tant que leur montant n’est pas atteint ni leur date d’échéance dépassée. Les contributions à une brique ne sont
                    prélevées aux Contributeurs que lorsque le montant de celle-ci est atteint. Si le montant n’est pas atteint avant la
                    date d’échéance, les contributeurs ne seront tout simplement pas prélevés. Tant que la Brique n’est pas entièrement 
                    financée, le Contributeur peut à tout moment annuler sa promesse de don sans conséquences.
                </div>
            </div>

            <h4 class="mt-4">9.2 Financement de projet (ci-après « Tip »)</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    A tout moment, les Joueurs peuvent choisir de soutenir un projet dans sa globalité, sans choisir une 
                    fonctionnalité particulière. Cette opération est à débit immédiat et ne pourra faire l’objet d’aucune annulation 
                    ou modification de montant.
                </div>
            </div>

            <h4 class="mt-4">9.3 Commissions et reversement des sommes collectées</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    La Société perçoit une commission sur les fonds collectés par les Projets, et les Briques qui ont atteint 
                    au terme de la période de collecte leur objectif de financement.
                </div>
                <div class="my-2">
                    Pour les Créateurs  bénéficiaires des contributions, les frais des Services fournis par la Société sont 
                    calculés en pourcentage des sommes collectées par l'intermédiaire du Site.
                </div>
                <div class="my-2">
                    Ces pourcentages sont annoncés comme « minimum ». Les Créateurs peuvent les augmenter à leur guise s’ils 
                    souhaitent soutenir Ethical Games.
                </div>
                <div class="my-2">
                    Le pourcentage applicable varie en fonction du type de licence du projet :
                </div>
                <ul>
                    <li>Projet sous licence libre : 0% TTC minimum</li>
                    <li>Projet sous licence open-source : 3% TTC minimum</li>
                    <li>Projet sous licence propriétaire : 5% TTC minimum</li>
                </ul>
                <div class="my-2">
                    La Société rappelle qu’à ces pourcentages seront ajoutés les frais liés au processeur de paiement Stripe Connect. 
                    Ces frais sont susceptibles de varier dans le temps et selon la localisation du compte du Contributeur. 
                    Ils sont consultables ici <a href="https://stripe.com/us/connect/pricing">https://stripe.com/us/connect/pricing</a>
                </div>
                <div class="my-2">
                    Lorsqu’une Brique est entièrement financée, les frais de Services correspondants sont prélevés par la Société sur
                    le montant des sommes collectées par l'intermédiaire du Site lors du reversement au Créateur. Ce reversement est réalisé 
                    dans un délai maximum de 30 jours ouvrés suivant l’expiration de la période de collecte, dès lors que le Créateur a 
                    indiqué l’ensemble des informations nécessaires au versement des sommes (coordonnées bancaires notamment) et fourni 
                    l’ensemble des données d’identification nécessaires au versement des fonds (RIB, copie de pièce d’identité, etc…).
                </div>
                <div class="my-2">
                    Une fois rendue publique, une brique ne peut être supprimée par le Créateur, elle sera  toujours visible par les utilisateurs.
                </div>
            </div>

            <h4 class="mt-4">9.4  Imposition</h4>
            <div class="text-justify my-2">
                <div class="my-2">
                    Il appartient à chaque Créateur de s'acquitter de tout impôt associé aux contributions collectées par l'intermédiaire du Site. 
                    La Société ne saurait en aucun cas se substituer au Créateur à cet effet ni même le conseiller sur la nature et 
                    le détail de ses obligations.
                </div>
                <div class="my-2">
                    Les Créateurs sont chargés d'établir et de transmettre directement aux contributeurs les reçus fiscaux éventuels 
                    attestant de leur contribution par l'intermédiaire du Site.
                </div>
                <div class="my-2">
                    Il appartient à chaque Contributeur de vérifier son éligibilité à bénéficier de déductions d'impôt sur tout 
                    ou partie des contributions effectuées sur le Site, conformément aux dispositions de la loi française en vigueur.
                </div>
                <div class="my-2">
                    Toute réclamation relative à la production desdits reçus fiscaux et aux informations y figurant devra être adressée 
                    directement par le Contributeur au Créateur du projet.
                </div>
            </div>

            <h3 class="mt-4">10. Promotion sur le Site et en dehors du Site</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Le Créateur accepte par les présentes que les contenus et les informations fournis soient exploités 
                    librement par la Société à des fins de promotion de son Projet.
                </div>
                <div class="my-2">
                    A ce titre, le Créateur concède à la Société, le droit, notamment :
                </div>
                <ul>
                    <li>d'utiliser, dans le cadre de sa communication et de la promotion du Site, son pseudonyme ainsi que 
                        le nom et les caractéristiques du Projet ;</li>
                    <li>le droit de reproduire et de faire reproduire les contenus et informations fournis sur le Site sur 
                        tout réseau, par tout procédé, sous toute forme connue ou inconnue, en association ou non avec d’autres 
                        œuvres de quelque nature qu’elles soient dès lors que ces exploitations sont effectuées en relation avec la 
                        promotion du Projet ;</li>
                    <li>représenter ou faire représenter tout ou partie des contenus du Projet ;</li>
                    <li>adapter ou faire adapter tout ou partie des contenus du Projet.</li>
                </ul>
                <div class="my-2">
                    Le Créateur accepte également expressément que les contenus et informations fournis soient exploités sur le Site avec la 
                    présence de marques ou logos de la Société.
                </div>
                <div class="my-2">
                    Le Créateur peut à tout moment révoquer cette concession s’il en fait la demande à la Société via les coordonnées
                    indiquées au paragraphe « 2- Exploitant des Services ».
                </div>
            </div>

            <h3 class="mt-4">11. Responsabilité, comportements prohibés et sanctions</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    L’utilisateur est seul responsable des contenus de toute nature (rédactionnels, graphiques, audiovisuels ou autres, 
                    en ce compris la dénomination et/ou l’image éventuellement choisies par l’Utilisateur pour l’identifier sur le site) 
                    qu’il diffuse dans le cadre des Services.
                </div>
                <div class="my-2">
                    Il garantit à Ethical Games qu’il dispose de tous les droits et autorisations nécessaires à la diffusion de ces contenus.
                </div>
                <div class="my-2">
                    Il s’engage à ce que lesdits contenus soient licites, ne portent pas atteinte à l’ordre public, aux bonnes mœurs ou 
                    aux droits de tiers, n’enfreignent aucune disposition législative ou règlementaire et plus généralement, ne soient 
                    aucunement susceptibles de mettre en jeu la responsabilité civile ou pénale de Ethical Games.
                </div>
                <div class="my-2">
                    Il est strictement interdit d’utiliser les Services aux fins suivantes :
                </div>
                <ul>
                    <li>l’exercice d’activités illégales, frauduleuses ou portant atteinte aux droits ou à la sécurité des tiers</li>
                    <li>l’atteinte à l’ordre public ou la violation des lois et règlements en vigueur</li>
                    <li>l’intrusion dans le système informatique d’un tiers ou toute activité de nature à nuire, contrôler, interférer,
                        ou intercepter tout ou partie du système informatique d’un tiers, en violer l’intégrité ou la sécurité</li>
                    <li>l’envoi d’e-mails non sollicités et/ou de prospection ou sollicitation commerciale</li>
                    <li>les manipulations destinées à améliorer le référencement d’un site tiers</li>
                    <li>l’aide ou l’incitation, sous quelque forme et de quelque manière que ce soit, à un ou plusieurs des actes et 
                        activités décrits ci-dessus</li>
                    <li>et plus généralement toute pratique détournant les Services à des fins autres que celles pour lesquelles ils ont été conçus.</li>
                </ul>
                <div class="my-2">
                    Sont également strictement interdits : (i) tous comportements de nature à interrompre, suspendre, ralentir ou empêcher 
                    la continuité des Services, (ii) toutes intrusions ou tentatives d’intrusions dans les systèmes du Site, (iii) tous 
                    détournements des ressources système du site, (iv) toutes actions de nature à imposer une charge disproportionnée sur les 
                    infrastructures de ce dernier, (v) toutes atteintes aux mesures de sécurité et d’authentification, (vi) tous actes de nature 
                    à porter atteinte aux droits et intérêts financiers, commerciaux ou moraux de Ethical Games ou des usagers de son site, et 
                    enfin plus généralement (vii) tout manquement aux présentes conditions générales.
                </div>
                <div class="my-2">
                    Enfin, il est strictement interdit de monnayer, vendre ou concéder tout ou partie de l’accès aux Services ou au site, 
                    ainsi qu’aux informations qui y sont hébergées et/ou partagées.
                </div>
                <div class="my-2">
                    En cas de manquement à l’une quelconque des dispositions des présentes conditions générales ou plus généralement, 
                    d’infraction aux lois et règlements en vigueur par un utilisateur, la Société se réserve le droit de prendre toute 
                    mesure appropriée et notamment de :
                </div>
                <ul>
                    <li>suspendre ou résilier l’accès aux Services de l’utilisateur, auteur du manquement ou de l’infraction, ou y ayant participé,</li>
                    <li>supprimer tout contenu mis en ligne sur le site</li>
                    <li>publier sur le site tout message d’information que la Société jugera utile</li>
                    <li>avertir toute autorité concernée</li>
                    <li>engager toute action judiciaire</li>
                </ul>
            </div>


            <h3 class="mt-4">12. Protection des données personnelles</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Conformément à la Loi Informatique et Libertés du 6 janvier 1978, tout utilisateur dispose des droits d’interrogation, 
                    d’accès, de modification, d’opposition et de rectification sur les données personnelles le concernant. L’application de 
                    ces droits se fait suite à la demande de l’utilisateur aux coordonnées mentionnées à l’article 2 des présentes.
                </div>
            </div>

            <h3 class="mt-4">13. Entrée en vigueur</h3>
            <div class="text-justify my-2">
                <div class="my-2">
                    Les présentes conditions générales sont entrées en vigueur le 17/10/2019.
                </div>
            </div>

        </div>
    </div>
{% endblock %}