{% extends 'layout.twig' %}

{% block body %}

    {% include '@about/menuLayout.twig' %}

    <h1 class="text-primary text-center my-5">{% trans %}Visual identity{% endtrans %}</h1>

    <div class="container">
        <h3>{% trans %}Our logo{% endtrans %}</h3>
        <div class="row">
            <div class="col-6 text-center my-3 py-2">
                <img src="/logos/RB_isotype.svg" alt="RB isotype" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_isotype.png" download>PNG</a>, 
                    <a href="/logos/RB_isotype.svg" download>SVG</a>, 
                    <a href="/logos/RB_isotype.ai" download>AI</a></p>
            </div>
            <div class="col-6 text-center bg-secondary my-3 rounded py-2">
                <img src="/logos/RB_isotype_BLANC.svg" alt="RB isotype blanc" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_isotype_BLANC.png" download>PNG</a>, 
                    <a href="/logos/RB_isotype_BLANC.svg" download>SVG</a>, 
                    <a href="/logos/RB_isotype_BLANC.ai" download>AI</a></p>
            </div>
            <div class="col-4 text-center bg-secondary my-3 rounded py-2">
                <img src="/logos/RB_LOGO_BLANC_H.svg" alt="RB logo blanc horizontal" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_BLANC_H.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_BLANC_H.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_BLANC_H.ai" download>AI</a></p>
            </div>
            <div class="col-4 text-center my-3 py-2">
                <img src="/logos/RB_LOGO_H.svg" alt="RB logo horizontal" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_H.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_H.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_H.ai" download>AI</a></p>
            </div>
            <div class="col-4 text-center my-3 py-2">
                <img src="/logos/RB_LOGO_NOIR_H.svg" alt="RB logo noir horizontal" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_NOIR_H.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_NOIR_H.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_NOIR_H.ai" download>AI</a></p>
            </div>
            <div class="col-4 text-center bg-secondary my-3 rounded py-2">
                <img src="/logos/RB_LOGO_BLANC_V.svg" alt="RB logo blanc vertical" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_BLANC_V.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_BLANC_V.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_BLANC_V.ai" download>AI</a></p>
            </div>            
            <div class="col-4 text-center my-3 py-2">
                <img src="/logos/RB_LOGO_V.svg" alt="RB logo vertical" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_V.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_V.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_V.ai" download>AI</a></p>
            </div>      
            <div class="col-4 text-center my-3 py-2">
                <img src="/logos/RB_LOGO_NOIR_V.svg" alt="RB logo noir vertical" style="width: 80%">
                <p class="mt-2">{% trans "Download " %}
                    <a href="/logos/RB_LOGO_NOIR_V.png" download>PNG</a>, 
                    <a href="/logos/RB_LOGO_NOIR_V.svg" download>SVG</a>, 
                    <a href="/logos/RB_LOGO_NOIR_V.ai" download>AI</a></p>
            </div>
        </div>

        <h3 class="mt-3">{% trans "Colors" %}</h3>
        <div class="row">
            <div class="col-2 text-center">
                <div class="avatar bg-primary rounded-circle m-auto"></div>#BC3125
            </div>
            <div class="col-2 text-center">
                <div class="avatar bg-white rounded-circle m-auto"></div>#FFFFFF
            </div>
            <div class="col-2 text-center">
                <div class="avatar bg-dark rounded-circle m-auto"></div>#000000
            </div>
        </div>
        
        <h3 class="mt-3">{% trans "Fonts" %}</h3>
        <a href="https://fonts.google.com/specimen/Karla" class="font-weight-bold" target="_blank">Karla</a>


    </div>



{% endblock %}
