{% extends 'layout.twig' %}

{% block body %}

    <div class="col-xs-12 col-sm-12 col-md-4 offset-md-4 well well-sm">

        <p class="my-3 text-center">
            {% trans %}Have an account?{% endtrans %} <a href="{{ path('auth.login') }}">{% trans "Log in" %}</a>
        </p>

        <hr class="border-gray mx-5">

        <h1 class="text-center">{% trans "Register" %}</h1>


        <form action="{{ path('account.signup') }}" method="post">
            {{ csrf_input() }}
            {% set username %}{% trans %}Username{% endtrans %}{% endset %}
            {% set email %}{% trans %}Email{% endtrans %}{% endset %}
            {% set password %}{% trans %}Password{% endtrans %}{% endset %}
            {% set password_confirm %}{% trans %}Re-enter password{% endtrans %}{% endset %}
            {{ field('username', user.username, username) }}
            {{ field('email', user.email, email, {type: 'email'}) }}
            {{ field('password', null, password, {type: 'password'}) }}
            {{ field('password_confirm', null, password_confirm, {type: 'password'}) }}
            <div  class="text-center">
                <button class="btn btn-primary">{% trans "Register" %}</button>
                <small>
                    {% set link1 %}{{ path('about.terms') }}{% endset %}
                    {% set link2 %}{{ path('about.privacy') }}{% endset %}
                    {% set link3 %}{{ path('about.security') }}{% endset %}
                    <p>{% trans %}By signing up, you agree to our <a href="{{ link1 }}">terms of use</a>, 
                        <a href="{{ link2 }}">privacy policy</a>, and <a href="{{ link3 }}">security policy</a>. 
                        Our policies explain how we use your data to deliver, improve, and promote our 
                        service and our site, and how you can exercise your rights to control that use. {% endtrans %}</p>
                </small>
            </div>
        </form>
    </div>

{% endblock %}