Congratulation {{ user.username }}!
The {{ feature.name }} brick has been fully funding before the deadline. You can take the money immediately and start the development of your feature.
The brick can't be financed more than 100%.Be careful! You only have 7 days to retrieve the money after your campaign's deadline. Afterwards, the brick will be abandoned and contributors will be reimbursed.
---
The RedBricks Team
