Hello {{ user.username }},
A new comment has been posted on the {{ game.name }} project page for your {% if bug %}{{ bug.title }} bug report.{% else %}{{ feature.name }} brick.{% endif %}

{{ comment.author}} says:
{{ comment.content }}

---
The RedBricks Team
