{% extends 'layout.twig' %}

{% block title %}
    {% trans "Tips" %}
{% endblock %}

{% block body %}

    {% if not feature.id %}
        <h1 id="titre" class="text-center">{% trans "Tips" %}</h1>
    {% else %}
        <h1 class="text-center">{% trans "Contributions" %}</h1>
    {% endif %}

    <div class="row">
        <div class="col-md-4 offset-md-2">
            {% if current_user() %}
                {% if not feature.id %}
                    {% set featureId = 0 %}
                {% else %}
                    {% set featureId = feature.id %}
                {% endif %}
                {% if featureId == 0 %} 
                    {% set gameName = game.name %}
                    <h4>{% trans %}Contribution to {{gameName}}:{% endtrans %} </h4>
                {% else %}
                    {% set featureName = feature.name %}
                    {% set gameName = game.name %}
                    <h4>{% trans %}Contribution to {{featureName}} of {{gameName}}:{% endtrans %} </h4>
                {% endif %}

                {{ csrf_input() }}

                <form action="{{ path('shop.process', {gameId: game.id, featureId: featureId}) }}" method="POST">
                    {{ csrf_input() }}

                    <div class="">
                        <div class="form-group">
                            <input class="mr-2 target" type="radio" name="sourceAmount" id="amountSelected" value="true" checked>
                            <label for="amountSelected">{% trans %}Select the desired amount{% endtrans %}</label>
                            <select class="form-control target" data-button="customButton1" name="quantity" id="soflow">
                                <option value="5">5 €</option>
                                <option value="10" selected>10 €</option>
                                <option value="20">20 €</option>
                                <option value="50">50 €</option>
                                <option value="100">100 €</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="mr-2 target" type="radio" name="sourceAmount" id="amountEntered" value="true">
                            <label for="amountEntered">{% trans %}Or enter the amount{% endtrans %}</label>
                            <div class="input-group">
                                <input class="form-control target" type="number" min="0" value="10" id="amountFix" name="amountFix" disabled="disabled">
                                <div class="input-group-append">
                                    <div class="input-group-text">€</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="border-gray">
                    <h4>{% trans %}Contribution to RedBricks{% endtrans %}</h4>
                    <div class="form-group row">
                        <label for="feeStudio" class="col-sm-3 col-form-label">{% trans "Creator" %}</label>
                        <div class="col-sm-9">
                            <input type="text" readonly class="form-control-plaintext" id="feeStudio" value="{{ game.fee }} %">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            {% trans %}Do you wish to personally contribute to RedBricks' development?{% endtrans %}
                            {%  if feature.id  %}
                                <small>
                                    {% trans %}If you make a donation, it will be taken immediately and regardless of the success of the kitty.{% endtrans %}
                                </small>
                            {%  endif %}
                        </div>
                        <label for="feeUser" class="col-sm-3 col-form-label">{% trans "You:" %} </label>
                        <div class="input-group col-sm-6">
                            <input class="mr-2 target" type="radio" name="wantFee" id="wantFeeYes" value="yes" checked>
                            <input type="number" class="form-control target" name="feeUser" id="feeUser" value="2" min="1" step="0.01">
                            <div class="input-group-append">
                                <div class="input-group-text">€</div>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input target" type="radio" name="wantFee" id="wantFeeNo" value="no">
                                <label class="form-check-label" for="wantFeeNo">{% trans %}I do not wish to contribute{% endtrans %}</label>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="stripeToken" id="stripeToken">
                    <input type="hidden" name="totAmount" id="totAmount">
                    <input type="hidden" id="feeCreator" value="{{ game.fee }}">
                    <button id="customButton1" class="button btn btn-primary" data-amount="1">{% trans %}Pay Now{% endtrans %}</button>

                </form>

            {% else %}
                <h4>{% trans %}Please, log in{% endtrans %}</h4>
                <a class="btn btn-primary" href="{{ path('auth.login') }}">{% trans %}Log in{% endtrans %}</a>
            {% endif %}

        </div>
        <div class="col-md-3 offset-md-2 my-auto">
            <div class="card border-primary shadow">
                <div class="card-header">
                    <h3 class="text-center">{% trans "Recap" %}</h3>
                </div>
                <div class="list-group-item font-weight-bold">
                    {% trans %}Your donation:{% endtrans %} <span id="donation"></span>€
                </div>
                <div class="list-group-item">
                    {% trans %}Stripe's fee*:{% endtrans %} <span id="stripeFee"></span>€<br>
                    <small class="text-muted">{% trans %}*This fees may change depending on the bank card and the country.{% endtrans %}</small>
                </div>
                <div class="list-group-item">
                    {% trans %}Net total to RedBricks:{% endtrans %} <span id="contribution"></span>€<br>
                    <small class="text-muted ml-3">{% trans %}Creator:{% endtrans %} <span id="contributionCreator"></span>€</small><br>
                    <small class="text-muted ml-3">{% trans %}You:{% endtrans %} <span id="contributionUser"></span>€</small>
                </div>
                <div class="list-group-item text-primary font-weight-bold">
                    {% trans %}Net total to Studio:{% endtrans %} <span id="netTotal"></span>€
                </div>
            </div>
        </div>
    </div>

    <div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <p class="text-center my-auto"><i class="fa fa-spinner fa-spin fa-lg mr-2"></i> {% trans %}Payment in progress...{% endtrans %}</p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://checkout.stripe.com/checkout.js"></script>
    <script>

        var amount = 0;
        var handler = StripeCheckout.configure({
            key: '{{ stripeKey }}',
            token: function (token) {
                // Use the token to create the charge with a server-side script.
                // You can access the token ID with `token.id`
                $("#stripeToken").val(token.id);
            }
        });

        $('.button').on('click', function (e) {

            // Get ID name 
            var id = $(this).attr('id');

            // Find corresponding Quantity drop down and get value
            var quantity = $('select[data-button="' + id + '"]').val();
            if (document.getElementById("amountEntered").checked) {
                quantity = $("#amountFix").val();
            }
            if (document.getElementById("wantFeeYes").checked) {
                quantity = Number(quantity) + Number($('#feeUser').val());
            }          
            $("#totAmount").val(quantity);

            // Grab custom data attributes
            var price = 100;

            // Stripe Checkout does not support quantity, so we will just multiply
            // the amount by the value of quantity
            amount = price * quantity;

            // Open Checkout with further options
            handler.open({
                name: "Project: {{ game.name }}",
                description: "Contribution on redbricks.games {{ game.name }}",
                amount: amount,
                email: "{{ current_user().email }}",
                image: "https://stripe.com/img/documentation/checkout/marketplace.png",
                locale: "auto",
                currency: "eur",
                allowRememberMe: "false",
                closed: function () {
                    if ($("#stripeToken").val() != "") {
                        $("form").submit();
                        $('#myModal').modal({
                            backdrop: 'static',
                            keyboard: false
                        });
                    }
                }
            });

            e.preventDefault();
        });

        // Close Checkout on page navigation
        $(window).on('popstate', function () {
            handler.close();
        });

    </script>


    <script
        src="https://checkout.stripe.com/checkout.js" 
        data-key="{{ stripeKey }}"
        data-amount=amount
        data-name="Project: {{ game.name }}"
        data-email="{{ current_user().email }}"
        data-description="Contribution sur redbricks.games {{ game.name }}"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="fr"
        data-zip-code="true"
        data-currency="eur"
        data-allow-remember-me="false">
    </script>

    <script>
        $(document).ready(function () {
            recap();

            $(".target").change(function () {
                recap();
            });

            $("#amountSelected").change(function () {
                $("#amountFix").prop('disabled', true);
                $("#soflow").prop('disabled', false);
            });

            $("#amountEntered").change(function () {
                $("#amountFix").prop('disabled', false);
                $("#soflow").prop('disabled', true);
            });
        });

        function recap() {

            var quantity;
            if (document.getElementById("amountSelected").checked) {
                quantity = $("#soflow").val();
            } else {
                quantity = $("#amountFix").val();
            }

            var feeCreator = $('#feeCreator').val();
            var feeUser = $('#feeUser').val();
            var nbFeeCreator = Math.round(quantity * feeCreator) / 100;
            var nbFeeUser = Number(feeUser);
            var nbFeeStripe = Math.round(quantity * 2.9) / 100 + 0.25;

            if (document.getElementById('wantFeeNo').checked) {
                nbFeeUser = 0;
            }

            document.getElementById('donation').innerHTML = Number(quantity) + nbFeeUser;
            document.getElementById('contribution').innerHTML = nbFeeCreator + nbFeeUser;
            document.getElementById('contributionCreator').innerHTML = nbFeeCreator;
            document.getElementById('contributionUser').innerHTML = nbFeeUser;
            document.getElementById('stripeFee').innerHTML = nbFeeStripe;
            document.getElementById('netTotal').innerHTML = Math.round((quantity - nbFeeCreator - nbFeeStripe) * 100) / 100;
        }
    </script>
{% endblock %}
