{% extends 'layout.twig' %}

{% block body %}

    <!--menu-->
    {% include '@shop/layoutContributions.twig' %}

    <h1 class="text-center">{% trans %}My contributions{% endtrans %}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans %}Project or Feature{% endtrans %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Amount" %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in pendingPurchases %}
                <tr>
                    <td>
                        {% for game in games if game.id == purchase.gameId %}
                            <a href="{{ path('blog.show', {slug:game.slug, id:game.id}) }}">
                                {{ game.name }}
                            </a>
                        {% endfor %}
                        {% for feature in features if feature.id == purchase.featureId %}
                            <a href="{{ path('blog.feature.showOneFeature', {slug:feature.slug, id:feature.id }) }}">
                                ({{ feature.name }})
                            </a>
                        {% endfor %}
                    </td>
                    <td>{{ purchase.createdAt.format('d/m/Y H:i') }}</td>
                    <td>{{ purchase.price / 100 }}€ <span class="font-weight-bold">{% trans "(pending)" %}</span></td> 
                </tr>
            {% endfor %}

            {% for purchase in purchases %}
                <tr>
                    <td>
                        {% for game in games if game.id == purchase.gameId %}
                            <a href="{{ path('blog.show', {slug:game.slug, id:game.id}) }}">
                                {{ game.name }}
                            </a>
                        {% endfor %}
                        {% for feature in features if feature.id == purchase.featureId %}
                            <a href="{{ path('blog.feature.showOneFeature', {slug:feature.slug, id:feature.id }) }}">
                                ({{ feature.name }})
                            </a>
                        {% endfor %}
                    </td>
                    <td>{{ purchase.createdAt.format('d/m/Y H:i') }}</td>
                    <td>{{ purchase.price / 100 }}€</td> 
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}