{% extends "layout.twig" %}

{% block title %}
    {% trans %}Centre d'aide{% endtrans %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                <small>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb bg-transparent pl-0">
                            <li class="breadcrumb-item"><a href="{{ path('support', {loc:'fr'}) }}">{% trans %}Aide en ligne{% endtrans %}</a></li>
                            <li class="breadcrumb-item">
                                <a href="{{ path('support.section', {loc:'fr', id:article.sectionId, slug:article.sectionSlugFr}) }}">
                                    {{ article.sectionNameFr }}
                                </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">{{ article.nameFr }}</li>
                        </ol>
                    </nav>
                </small>

                <h4>
                    {{ article.nameFr }}
                </h4>

                <div class="text-justify">
                    {{ article.contentFr | raw | nl2br}}
                </div>

                <hr class="border-gray my-5">

                <div>
                    {% trans %}Vous avez d'autres questions ?{% endtrans %} <a href="{{ path('contact') }}">{% trans %}Envoyer une demande{% endtrans %}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
