{% extends "layout.twig" %}

{% block title %}
    {% trans %}Centre d'aide{% endtrans %}
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-12">

                <small>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb pl-0 bg-transparent">
                            <li class="breadcrumb-item"><a href="{{ path('support', {loc:'fr'}) }}">{% trans %}Aide en ligne{% endtrans %}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ section.nameFr }}</li>
                        </ol>
                    </nav>
                </small>

                <h5>
                    {{ section.nameFr }}
                </h5>

                {% for article in articles %}
                    <div class="my-2">
                        <a class="text-info" href="{{ path('support.article', {loc:'fr', id:article.id, slug:article.slugFr}) }}">
                            {{ article.nameFr }}
                        </a>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}
