{% extends "layout.twig" %}

{% block body %}

    <h1 class="text-center">{% trans "Notifications" %}</h1>

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form action="{{ path('notification') }}" method="post">
                {{ csrf_input() }}
                <h4>{% trans %}Social Notifications{% endtrans %}</h4>
                <div class="pl-5">
                    {% set mp %}{% trans %}Receiving a private message{% endtrans %}{% endset %}
                    {% set badge %}{% trans %}Receiving a new badge{% endtrans %}{% endset %}
                    {{ field("mp", notifications.mp, mp, {type:'checkbox'}) }}
                    {{ field("badge", notifications.badge, badge, {type:'checkbox'}) }}                
                </div>
                <h4>{% trans %}Supported or followed projects{% endtrans %}</h4>
                <div class="pl-5">
                    {% set new_brick %}{% trans %}Adding a new brick{% endtrans %}{% endset %}
                    {% set change_brick %}{% trans %}Changing the status of a brick{% endtrans %}{% endset %}
                    {% set new_bug %}{% trans %}Adding a new bug report{% endtrans %}{% endset %}
                    {% set change_bug %}{% trans %}Changing the status of a bug report{% endtrans %}{% endset %}
                    {% set news %}{% trans %}News from the project{% endtrans %}{% endset %}
                    {{ field("new_brick", notifications.newBrick, new_brick, {type:'checkbox'}) }}
                    {{ field("change_brick", notifications.changeBrick, change_brick, {type:'checkbox'}) }}
                    {{ field("new_bug", notifications.newBug, new_bug, {type:'checkbox'}) }}
                    {{ field("change_bug", notifications.changeBug, change_bug, {type:'checkbox'}) }}
                    {{ field("news", notifications.news, news, {type:'checkbox'}) }}
                </div>
                <h4>{% trans %}My projects{% endtrans %}</h4>
                <div class="pl-5">
                    {% set tip %}{% trans %}A new financial contribution{% endtrans %}{% endset %}
                    {% set deadline %}{% trans %}End of a brick's funding campaign{% endtrans %}{% endset %}
                    {% set collect %}{% trans %}Success of a brick's funding campaign{% endtrans %}{% endset %}
                    {% set comment %}{% trans %}New comment{% endtrans %}{% endset %}
                    {{ field("tip", notifications.tip, tip, {type:'checkbox'}) }}
                    {{ field("deadline", notifications.deadline, deadline, {type:'checkbox'}) }}
                    {{ field("collect", notifications.collect, collect, {type:'checkbox'}) }}   
                    {{ field("comment", notifications.comment, comment, {type:'checkbox'}) }}
                </div>
                <h4>{% trans %}My contributions (bricks or bug reports){% endtrans %}</h4>
                <div class="pl-5">
                    {% set comment_contri %}{% trans %}New comment{% endtrans %}{% endset %}
                    {% set change_contri %}{% trans %}Changing the status of a brick or a bug report{% endtrans %}{% endset %}
                    {{ field("comment_contri", notifications.commentContri, comment_contri, {type:'checkbox'}) }}
                    {{ field("change_contri", notifications.changeContri, change_contri, {type:'checkbox'}) }}
                </div>

                <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="{% trans "Save" %}">
                </div>
            </form>
        </div>        
    </div>

{% endblock %}
