{% extends 'layout.twig' %}

{% block body %}

    {% if noThread %}      
        <h1 class="text-center mb-5">{% trans "Messages" %}</h1>

        {% trans %}You don't have a message.{% endtrans %}
    {% else %}
        <div class="row">
            <section class="col-md-5 col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
                <div class="shadow row py-2 border bg-white rounded">
                    <div class="col-12">
                        <h5 class="d-inline">{% trans "Inbox" %}</h5>
                        <a href="{{ path('discussion.compose', {to:0}) }}" class="float-right" title="New message">
                            <i class="far fa-edit fa-lg"></i>
                        </a>
                    </div>
                </div>
                {% for thread in threads %}
                    <a href="{{ path('discussion.messages', {idThread: thread.id}) }}">
                        <div class="shadow row py-2 border {% if thread.id == idThread %}bg-light{% else %}bg-white{% endif %} rounded">
                            <div class="col-12">
                                <div class="avatar my-1 mx-2 d-inline-block float-left">
                                    {% set displaynames = users[thread.id][0].displayname %}
                                    {% if users[thread.id]|length > 1 %}
                                        <div class="bg-secondary avatar rounded-circle text-center">
                                            <i class="fas fa-users fa-2x text-light" style="height:100%"></i>
                                        </div>
                                        {%  for i in 1..users[thread.id]|length-1 %}
                                            {% set displaynames = displaynames ~ ", " ~ users[thread.id][i].displayname %}
                                        {%  endfor %}
                                    {% else %}
                                        {% set contact = users[thread.id][0] %}
                                        {% if contact.avatar %}
                                            <img src="{{ contact.avatarThumb }}" alt="" style="width:100%;" class="rounded-circle">
                                        {% else %}
                                            <img src="/images/unknow.png" alt="" style="width: 100%;">
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="">
                                    <h5 class="d-inline text-dark">{{ displaynames }}</h5>
                                    {% for threadUnread in threadsUnread if threadUnread.threadId == thread.id %}
                                        <span class="badge badge-primary badge-pill">
                                            {% trans "New" %}
                                        </span>
                                    {% endfor %}
                                    <span class="float-right text-dark">{{ thread.createdAt | date("j M") }}</span>
                                    <br/>
                                    <span class="text-muted">
                                        {% if thread.idFrom == user.id %}
                                            {% trans %}You:{% endtrans %}
                                        {% endif %}
                                        {% if thread.message|length > 30 %}
                                            {{ thread.message | slice(0,30) }}...
                                        {% else %}
                                            {{ thread.message }}
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </section>
            <section class="col-md-7 col-lg-6 col-xl-5">
                <div class="card shadow">
                    <div class="card-header text-right">
                        <form method="post">
                            {{ csrf_input() }}
                            <button class="btn btn-primary btn-sm" name="unread">{% trans %}Mark as unread{% endtrans %}</button>
                            <input type="hidden" name="idThread" value="{{ idThread }}">
                        </form>                    
                    </div>
                    <div class="card-body scroll">
                        {% for message in messages %}
                            <div class="row pb-3">
                                <div class="col-12">
                                    {%  if loop.index != 1 %}
                                        <hr>
                                    {%  endif %}
                                    <div class="avatar d-inline-block float-left mr-2">
                                        {% if users[idThread]|length > 1 %}
                                            <div class="bg-secondary avatar rounded-circle text-center ">
                                                <i class="fas fa-users fa-2x text-light" style="height:100%"></i>
                                            </div>
                                        {% elseif message.avatar %}
                                            <img src="{{ message.avatarThumb }}" alt="" style="width:100%;" class="rounded-circle">
                                        {% else %}
                                            <img src="/images/unknow.png" alt="" style="width: 100%;">
                                        {% endif %}
                                    </div>
                                    <h3 class="d-inline">                                     
                                        {{ message.displayname }} 
                                    </h3>
                                    <small class="text-muted">{{ message.createdAt | date("Y-m-d, H:i") }}</small>
                                    <br/>
                                    {{ message.message | nl2br }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="card-footer bg-light">
                        <form method="post">
                            {{ csrf_input() }}
                            {% set message %}{% trans %}Your message{% endtrans %}{% endset %}
                            {{ field('message', null, message, {type: 'textarea'}) }}
                            <div class="text-right">
                                <button class="btn btn-primary">{% trans "Send" %}</button>
                            </div>
                            <input type="hidden" name="idThread" value="{{ idThread }}">
                        </form>
                    </div>
                </div>
            </section>
        </div>

    {% endif %}

{% endblock %}