<div class="row">
    <div class="col-12 form-group">
        <label for="licence">
            {% trans "Main licence for source code" %}<span class="text-danger">*</span>
        </label>
        <select class="form-control" name="licence" id="licence">
            {% for licence in licences %}
                <option value="{{ licence.id }}" {% if licence.id == item.licence %}selected{% endif %}>
                    {{ licence.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12 form-group">
        <label for="graphicsLicence">
            {% trans "Main licence for graphics" %}<span class="text-danger">*</span>
        </label>
        <select class="form-control" name="graphics_licence" id="graphicsLicence">
            {% for licence in licences %}
                <option value="{{ licence.id }}" {% if licence.id == item.graphicsLicence %}selected{% endif %}>
                    {{ licence.name }}
                </option>
            {% endfor %}
        </select>
    </div>

    <div class="col-12 form-group">
        <label for="musicLicence">
            {% trans "Main licence for music" %}<span class="text-danger">*</span>
        </label>
        <select class="form-control" name="music_licence" id="musicLicence">
            {% for licence in licences %}
                <option value="{{ licence.id }}" {% if licence.id == item.musicLicence %}selected{% endif %}>
                    {{ licence.name }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>