{% extends "layout.twig" %}

{% block title %}
    {{ game.name }}
{% endblock %}

{% block body %}

    {% include '@blog/layoutGame.twig' %}

    <div class="row">
        <!--sidebar-->
        <div class="col-md-3" >
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('blog.index') }}">{% trans "Home" %}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ game.name }}</li>
                    </ol>
                </nav>
            </small>

            {% if summary.description %}
                <div class="card mt-2 border-primary">
                    <div class="card-body">
                        {{ summary.description }}
                    </div>
                </div>
            {% endif %}

            <div class="card mt-2 border-primary"> 
                <div class="card-header">
                    <h2 class="text-center" >
                        {% trans %}
                            {{ nbFeatures }} Brick
                            {% plural nbFeatures %}
                            {{ nbFeatures }} Bricks
                        {% endtrans %}
                    </h2>
                    <small class="text-muted" id="noFeatureFilter">{% trans %}No filter{% endtrans %}</small>

                </div>
                <div class="list-group" id="featureFilter">
                    {% for s in status %}
                        {% if s.id > 1 %}
                            <li class="list-group-item text-primary" id="{{ s.name }}">
                                {{ s.name }} <span class="badge badge-primary float-right">{{ nbFeaturesSort[s.id] }}</span>
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="my-2">
                {% set check = "hide" %}
                {% if hideArchiving %}
                    {% set check = "show" %}
                {% endif %}
                <a class="text-dark" href="{{ path('blog.show.bricks.archiving', {id:game.id, slug:game.slug, hideArchiving:check}) }}">
                    {% if hideArchiving %}
                        <i class="far fa-check-square"></i>
                    {% else %}
                        <i class="far fa-square"></i>
                    {% endif %}
                    {% trans %}Hide archived bricks{% endtrans %}
                </a>
            </div>

            <div  class="text-center my-2">
                <a href="{{ path('blog.user.features.feature' ~ '.create',  {projectId:game.id}) }}" class="btn btn-primary">
                    {% trans %}Add brick{% endtrans %}
                </a>			
            </div>
        </div>

        <div class="col-md-9">	
            <div class="row">
                {% for feature in features %}
                    {% if feature.statusId != 1 and (feature.archived != 1 or not hideArchiving) %}
                        <div class="card-deck col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-12 card-feature">
                            <div class="card shadow card-feature {% if feature.archived == 1 %}special-card{% endif %}">
                                {% include "@blog" ~ "/showFeature.twig" %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>	
    </div>

    <script>
        $(document).ready(function () {
            $('#noFeatureFilter').hide();
        });

        $('#featureFilter>li').click(function () {
            $('#featureFilter>li').removeClass('active').addClass('text-primary');
            $(this).addClass('active').removeClass('text-primary');
            $('#noFeatureFilter').show();
            var status = $(this).attr('id');
            $('.card-feature').each(function () {
                if (jQuery(this).find('.card-footer').is(":contains(" + status + ")")) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $('#noFeatureFilter').click(function () {
            $('#featureFilter>li').removeClass('active').addClass('text-primary');
            $('.card-feature').show();
            $(this).hide();
        });
    </script>
{% endblock %}
