<div class="card shadow {% if game.statusId == 0 %}special-card{% endif %}">

    {% if game.image %}
        <a href="{{ path('blog.show', {slug: game.slug, id: game.id}) }}">
            <img class="card-img-top" src="{{ game.thumb }}" alt="{{ game.name }}" style="width:100%;" >
        </a>
    {% endif %}

    <a href="{{ path('blog.show.bricks', {slug:game.slug, id:game.id}) }}" class="text-dark card-link">
        <div class="circle bg-white">
            {% set nbfeatures= 0 %}
            {% for f in features if game.id == f.projectId %}
                {% if f.statusId > 1 %}
                    {% set nbfeatures= nbfeatures + 1 %}
                {% endif %}
            {% endfor %}
            <span>{{ nbfeatures }} <img src="/images/brick.png" style="width:40%;" title="{% trans "Bricks" %}"></span>
        </div>
    </a>
    <div class="row">
        <div class="col-md-6 text-center">
            <small class="text-muted">   
                {% set contributors = 0 %}
                {% for contributor in contributorsNb if contributor.gameId == game.id %}
                    {% set contributors = contributor.nb %}
                {% endfor %}
                {{ contributors }} <i class="fas fa-users" title="{% trans "contributors" %}"></i>
            </small>
        </div>
        <div class="col-md-6 text-center">
            <span class="text-muted"><small>{{ game.createdAt |date("j M y") }}</small></span>
        </div>
    </div>

    <div class="card-body" >

        <div class="card-title">
            <a href="{{ path('blog.show', {slug: game.slug, id: game.id}) }}">
                <strong>{{ game.name }}</strong>
            </a><br>
            {% trans "by" %} <a class="text-info" href="{{ path('profile', {id: game.userId}) }}"><strong>{{ game.author }}</strong></a>
        </div>
        <p class="card-text text-muted">
            {{ game.content | striptags | excerpt | raw | nl2br }}
        </p>

        <div class="text-center">
            <a class="btn btn-outline-primary btn-sm my-2" href="{{ path('blog.show', {slug: game.slug, id: game.id}) }}">{% trans %}Read More{% endtrans %}</a>
        </div>

        <div>
            {% for l in liens_platforms if game.id == l.l1GameId %}
                <span class="text-primary mx-1">
                    <i class="{{ l.platformFa }}" title="{{ l.platformName }}"></i>
                    {% if l.platformSlug == "ios" %}
                        {{ l.platformName }}
                    {% endif %}
                </span>
            {% endfor %}
        </div>

        <div class="">
            <small class="text-muted">
                <i class="fas fa-file-code" title="{% trans %}source code{% endtrans %}"></i> {{ game.licenceName }} / 
                <i class="fas fa-images" title="{% trans %}graphics licence{% endtrans %}"></i> {{ game.graphicsLicenceName }} / 
                <i class="fas fa-music" title="{% trans %}music licence{% endtrans %}"></i> {{ game.musicLicenceName }}
            </small>
        </div>

        {% if current_user() != null %}
            <div class="text-right">
                <form action="{{ path(routePrefix) }}" method="POST">
                    {{ csrf_input() }}
                    <input type="hidden" name="gameId" value="{{ game.id }}">
                    {% for favorite in favorites if favorite.gameId == game.id %}
                        <button type="submit" class="btn btn-link">
                            {{ game.nbFavorites }} <i class="fas fa-heart text-primary"></i>
                        </button>
                    {% else %}
                        <button type="submit" class="btn btn-link">
                            <span class="text-secondary">{{ game.nbFavorites }}</span>  <i class="far fa-heart text-secondary"></i>
                        </button>
                    {% endfor %}
                </form>
            </div>
        {% else %}
            <div class="text-right text-secondary" title="{% trans %}connect you to add it to favorites{% endtrans %}">
                {{ game.nbFavorites }} <i class="fas fa-heart text-secondary"></i>
            </div>
        {% endif %}

        <div class="text-center">
            <div class="badge {{ "color-tag" ~ game.statusId }}">
                {{ game.status }}
            </div>
            {% if game.statusId != 0 %}
            <img class="img-fluid" src="{{ "/images/statusGame" ~ game.statusId ~ ".png" }}" alt="{{ game.status }}">
            {% endif %}
        </div>
    </div>

    <div class="card-footer">
        <small class="row text-secondary text-center">
            <a href="{{ path('news.list', {slug: game.slug, id: game.id}) }}" class="text-muted col-3 p-0 card-link m-0">
                <div title="{% trans "news" %}">{{ game.nbNews }} <i class="far fa-newspaper"></i></div>
            </a>
            <a href="{{ path('bugs.list', {slug: game.slug, id: game.id}) }}" class="text-muted col-3 p-0 card-link m-0">
                <div title="{% trans "bugs" %}">{{ game.nbBugs }} <i class="fas fa-bug"></i></div>  
            </a>
            <a href="{{ path('comments.list', {slug: game.slug, id: game.id}) }}" class="text-muted col-3 p-0 card-link m-0">
                <div title="{% trans "comments" %}">{{ game.nbComments }} <i class="fas fa-comments"></i></div>
            </a>
            <a href="{{ path('surveys.list', {slug: game.slug, id: game.id}) }}" class="text-muted col-3 p-0 card-link m-0">
                <div title="{% trans "surveys" %}">{{ game.nbSurveys }} <i class="fas fa-clipboard-list"></i></div>
            </a>
        </small>
    </div>
</div>  
