<div  class="form-control" style="padding-top: 10px;">
	<form action= "{{ path('blog.filter', {platforms: "web"})  }}" method="post" enctype="multipart/form-data">
		{{ csrf_input() }}
		{% set i = 0 %}
		{% for row in platforms | batch(2) %}
			<div class="row card-deck">
				{% for p in row %}
						{% set i = i+1 %}
						<div class="card form-check-label">
							<label class="form-check-input"  >
								<input type="checkbox" id="{{ p.slug }}"  name="platform[{{ i }}]" value="{{ p.slug }}" {% if p.slug in platforms_filter %}checked{% endif %} > {{ p.name }}
							</label>
						</div>
				{% endfor %}
			</div>
		{% endfor %}
		<button class="btn btn-primary" >{% trans "Filtrer" %}</button>
	</form>
</div>