{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Add a game
    {% endtrans %}
{% endblock %}

{% block body %}

    <h1 class="text-center">{% trans %}Add a game{% endtrans %}</h1>

    <form action= "{{ path(routePrefix ~ '.create') }}" method="post" enctype="multipart/form-data">
        {% include viewPath ~ "/form.twig" %}
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>
        <button class="btn btn-primary" type="submit">{% trans "Create" %}</button>
        <a class="btn btn-primary ml-3" href="{{ path('blog.index') }}">{% trans "Back" %}</a>
    </form>

{% endblock %}