{% extends "@user/layout.twig" %}

{% block title %}
    {% trans %}
        Edit a game
    {% endtrans %}
{% endblock %}

{% block body %}

    {% set name = item.name %}
    <h1 class="text-center">{% trans %}Edit {{ name }}{% endtrans %}</h1>

    <form action= "{{ path(routePrefix ~ '.edit', {id: item.id}) }}" method="post" enctype="multipart/form-data">
        {% include viewPath ~ "/form.twig" %}
        <small><span class="text-danger">*</span>{% trans %}Mandatory field{% endtrans %}</small><br>
        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
        <a class="btn btn-primary ml-3" href="{{ path(routePrefix ~ '.index') }}">{% trans "Back" %}</a>
    </form>

{% endblock %}

