<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownLanguage" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="true">
        {% trans "Language" %}
    </button>
    <div class="dropdown-menu p-2" aria-labelledby="dropdownLanguage">
        <a class="dropdown-item" href="{{ path('localization.language', {langcode:'en'}) }}">english</a>
        <a class="dropdown-item" href="{{ path('localization.language', {langcode:'es'}) }}">español</a>
        <a class="dropdown-item" href="{{ path('localization.language', {langcode:'fr'}) }}">français</a>
    </div>
</div>
